<div class="card mt-10 w-full bg-[--secondary-color] pt-5 pb-8">
  <div class="mb-5 text-center text-container">
    <h3 class="mb-2 text-2xl">SUBSCRIBTION FORM</h3>
    <p class="max-w-[500px] m-auto">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Qui doloremque,
      et dolorem iste, nihil amet obcaecati perspiciatis rerum pariatur quisquam
      nemo minima eum tempora eos excepturi nostrum cum veritatis corporis.
    </p>
  </div>
  <form class="flex justify-around w-full form">
    <input
      type="text"
      name="name"
      placeholder="Your Name"
      class="w-full ml-5 outline-none h-9 shadow-style"
    />
    <input
      type="email"
      name="email"
      placeholder="Email Address"
      class="w-full ml-5 outline-none h-9 shadow-style"
    />
    <button
      class="ml-5 bg-[--primary-color] text-[--secondary-color] mr-2 py-2 px-10 rounded-lg hover:bg-sky-700 transition-all"
    >
      SUBSCRIBE
    </button>
  </form>
</div>
