<form class="container p-5 shadow-style">
  <div class="ml-5 section-heading">
    <h3 class="mb-2 text-2xl">Leave a Comment</h3>
    <p>You can leave a comment using this comment form</p>
  </div>
  <div class="my-5">
    <label class="ml-6">Name</label>
    <input
      type="text"
      placeholder="Enter You Name Here"
      name="name"
      class="block w-3/4 ml-5 outline-none h-9 shadow-style"
    />
  </div>
  <div>
    <label class="ml-6">Comment</label>
    <textarea
      cols="10"
      rows="10"
      placeholder="Add Your Comment Here"
      class="block w-3/4 ml-5 outline-none shadow-style"
    ></textarea>
  </div>
  <div class="w-full mt-5 ml-5 btn">
    <button
      class="bg-[--primary-color] text-[--secondary-color] mr-2 py-2 px-10 rounded-lg m-auto hover:bg-sky-700 transition-all"
    >
      Add a Comment
    </button>
  </div>
</form>
