<div class="p-3 comment-list-container shadow-style">
  <h3 class="mb-3">Comments <span>(15,256)</span></h3>
  <div class="p-5 mb-5 bg-gray-300 comment-card">
    <h3 class="mb-1">Jhon Doe</h3>
    <span class="text-red-700">LAST UPDATED - SEP 20,2024</span>
    <p class="mt-4 mb-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex fuga
      accusantium itaque quas quod dolore nisi reprehenderit adipisci veniam
      iusto? Sint exercitationem cumque ullam eaque possimus. Ducimus temporibus
      tempora illum.
    </p>
    <span class="text-blue-500">Relpy</span>
    <span class="ml-3 text-blue-500">View Reply</span>
    <hr class="mt-4" />
  </div>
  <div class="p-5 mb-5 bg-gray-300 comment-card">
    <h3 class="mb-1">Jhon Doe</h3>
    <span class="text-red-700">LAST UPDATED - SEP 20,2024</span>
    <p class="mt-4 mb-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex fuga
      accusantium itaque quas quod dolore nisi reprehenderit adipisci veniam
      iusto? Sint exercitationem cumque ullam eaque possimus. Ducimus temporibus
      tempora illum.
    </p>
    <span class="text-blue-500">Relpy</span>
    <span class="ml-3 text-blue-500">View Reply</span>
    <hr class="mt-4" />
  </div>
  <div class="p-5 mb-5 bg-gray-300 comment-card">
    <h3 class="mb-1">Jhon Doe</h3>
    <span class="text-red-700">LAST UPDATED - SEP 20,2024</span>
    <p class="mt-4 mb-3">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex fuga
      accusantium itaque quas quod dolore nisi reprehenderit adipisci veniam
      iusto? Sint exercitationem cumque ullam eaque possimus. Ducimus temporibus
      tempora illum.
    </p>
    <span class="text-blue-500">Relpy</span>
    <span class="ml-3 text-blue-500">View Reply</span>
    <hr class="mt-4" />
  </div>
</div>
